* {
    box-sizing: border-box;
}

ul,
li {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

.column {
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #255FB4;
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

.screen {
    background-color: #ADB6BF;
    border: 1px solid slategray;
    height: 20%;
    margin: 20px;
}

.rounded-corners {
    border-radius: 10px;
}

.buttons-container {
    align-items: flex-start;
    display: flex;
    height: 80%;
    justify-content: space-evenly;
}

.column ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.button {
    background-color: #121A20;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    height: 35px;
    padding: 5px 15px;
    width: 42px;
}

.double-tall {
    align-self: center;
    display: flex;
    align-items: center;
    height: 90px;
}

.button.red {
    background-color: #D7354F;
}