* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.container {
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

.screen {
    border: 1px solid darkgray;
    height: 20%;
    margin: 20px;
}

.rounded-corners {
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}


/* .column ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
} */

.column ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

